body {
  padding-top: 30px;
}

.navbar-nav > li > a {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}

.navbar {
  min-height: 30px !important;
}

/*
  Custom Navbar Color
  Source: http://work.smarchal.com/twbscolor/
*/
.navbar-default {
  background-color: #484848;
  border-color: #f5ae23;
}

.navbar-default .navbar-brand {
  color: #ffffff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #f5ae23;
}

.navbar-default .navbar-text {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #f5ae23;
}

.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #484848;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #f5ae23;
  background-color: #484848;
}

.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #484848;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #f5ae23;
  background-color: #484848;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #f5ae23;
  background-color: #484848;
}

.navbar-default .navbar-toggle {
  border-color: #484848;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #484848;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}

.navbar-default .navbar-link {
  color: #ffffff;
}

.navbar-default .navbar-link:hover {
  color: #f5ae23;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f5ae23;
  }

  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f5ae23;
    background-color: #484848;
  };
}

/* Pads in-page anchors to compensate for fixed navbar */
.anchor {
  padding-top: 35px;
}
